<div id="contact" class="container">
  <div class="row">
    <div class="col-md-12 main-background">
      <div class="head-title"><%= t "contact.title" %></div>
      <div class="contact-content"><%= @contact.content if @contact %></div>
    </div>
  </div>
</div>
