<div class="bread-crumb">
  <ol class="breadcrumb">
    <li><%= link_to t("menu.home"), admin_root_path %></li>
    <li class="active"><%= t "admin.invoices.title" %></li>
  </ol>
</div>
<%= render "filter" %><br>
<div class="infor">
  <%= render "invoice_list" %>
</div>
