<div class="rsidebar span_1_of_left">
  <h3 class="cate">Categories</h3>
  <ul class="menu-drop">
    <li class="item1"><a href="#">Men</a></li>
  </ul>
</div>
<div class="product-bottom">
  <h3 class="cate">Best Sellers</h3>
  <div class="product-go">
    <div class=" fashion-grid">
      <a href="single.html"><%= image_tag "pr.jpg", class: "img-responsive" %></a>
    </div>
    <div class=" fashion-grid1">
      <h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
      <span class=" price-in1"> $40.00</span>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
