<div id="admin-product">
  <div class="bread-crumb">
    <ol class="breadcrumb">
      <li><%= link_to t("menu.home"), root_path %></li>
      <li><%= link_to t("admin.slide_images.title"), admin_slide_images_path %></li>
      <li class="active"><%= t "admin.slide_images.view" %></li>
    </ol>
  </div>
  <div class="background-form">
    <%= render "slide_show_detail" %>
  </div>
</div>
