#admin-product {
  .background-form {
    background-color: WHITE;
    padding: 0px 30px 20px 30px;
    margin-top: 10px;

    label {
      margin: 5px 0px;
    }

    .dl-horizontal dt {
      text-align: left;
    }
  }
}
