<div id="admin-product">
  <div class="bread-crumb">
    <ol class="breadcrumb">
      <li><%= link_to t("menu.home"), root_path %></li>
      <li><%= link_to @kind.capitalize, admin_informations_path(@kind) %></li>
      <li class="active"><%= @promotion.title %></li>
    </ol>
  </div>
  <div class="background-form">
    <%= render "promotion_form" %>
  </div>
</div>
