<div class="bread-crumb">
  <ol class="breadcrumb">
    <li><%= link_to t("menu.home"), root_path %></li>
    <li class="active"><%= t "admin.promotions.title" %></li>
  </ol>
</div>
<div class="infor">
  <%= render "promotion_list" %>
</div>
