<div class="bread-crumb">
  <ol class="breadcrumb">
    <li><%= link_to t("menu.home"), admin_root_path %></li>
    <li class="active"><%= @kind.capitalize %></li>
  </ol>
</div>
<div class="infor">
  <%= render "promotion_list" %>
</div>
