<div id="admin-product">
  <div class="bread-crumb">
    <ol class="breadcrumb">
      <li><%= link_to t("menu.home"), root_path %></li>
      <li><%= link_to t("admin.promotions.title"), admin_promotions_path %></li>
      <li class="active"><%= @promotion.title %></li>
    </ol>
  </div>
  <div class="background-form">
    <%= render "promotion_detail" %>
  </div>
</div>
