<tr>
  <td class="td-checkbox">
    <% if category.has_data? %>
      <%= ff.check_box :id, {disabled: true, checked: false,
        title: t("categories.messages.cannot_remove")} %>
    <% else %>
      <%= ff.check_box :id, {name: "category[id][]", checked: false,
        class: "check-box"}, category.id, false %></td>
    <% end %>

  <td><%= category.name %></td>
  <td class="td-action"><%= link_to t("categories.edit"),
    edit_admin_category_path(category), remote: true, class: "btn btn-default",
      data: {toggle: "modal", target: "#form-modal"} %></td>
</tr>
