<div class="bread-crumb">
  <ol class="breadcrumb">
    <li><%= link_to t("menu.home"), admin_root_path %></li>
    <li class="active"><%= t "admin.products.title" %></li>
  </ol>
</div>
<div class="infor">
  <%= render "product_list" %>
</div>
