<div id="admin-product">
  <div class="bread-crumb">
    <ol class="breadcrumb">
      <li><%= link_to t("menu.home"), root_path %></li>
      <li><%= link_to t("admin.products.title"), admin_products_path %></li>
      <li class="active"><%= t "admin.products.new_product" %></li>
    </ol>
  </div>
  <div class="background-form">
    <%= render "product_form" %>
  </div>
</div>
