@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.main-background {
  background-color: WHITE;
  margin-top: 10px;
}

.container {
  min-height: 50%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.error-explanation {
  padding-left: 35px;
  .close {
    color: white;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
    font-weight: normal;
  }
}

.head-title {
  font-size: 18px;
  color: #333;
  margin: 15px 0px 5px 0px;
}

.small-head-title {
  font-size: 18px;
  color: #333;
}

.md3 {
  width: 20%;
  float: left;
}

@media(max-width:992px){
  .md3 {
    width: 25%;
  }
}

@media(max-width:800px){
  .md3 {
    width: 30%;
  }
}

@media(max-width:600px){
  .md3 {
    width: 50%;
  }
}

@media(max-width:350px){
  .md3 {
    width: 100%;
  }
}

.products {
  background-color: WHITE;
  margin: 10px;
  text-align: center;
  padding: 10px;
  line-height: 20px;
  color: #545351;
  font-size: 15px;
  border: 1px solid #f6f6f6;
  .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 0;
  }
  .image {
    display: inline-block;
    height: 150px;
  }
  .product-content {
    .title {
      height: 20px;
      overflow-y: hidden;
      a {
        color: #545351;
      }
    }
    .type {
      height: 20px;
      overflow-y: hidden;
      margin-top: 5px;
    }
    .price {
      height: 20px;
      overflow-y: hidden;
      margin-top: 5px;
      .discount-price {
        color: RED;
      }
      .net-price {
        text-decoration: line-through;
        padding-left: 5px;
      }
    }

    .add-to-cart, .btn-add-to-cart {
      margin-top: 5px;
      padding: 2px 6px;
    }
  }
}

.products:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  .add-to-cart, .btn-add-to-cart {
    background-color: #fa03bb;
    color: WHITE;
    border-color: #fa03bb;
  }
}

a:hover {
  text-decoration: none;
}

.hr {
  padding-top: 5px;
  text-align: center;
  hr {
    margin-bottom: 10px;
  }

  span {
    position: relative;
    top: -21px;
    background-color: white;
    padding: 1px 14px;
  }
}

.btn {
  border-radius: 0px;
}

.form-control {
  font-size: 13px;
  border-radius: 0px;
  border: 1px solid #ddd;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-box-shadow: none !important;
}

.form-control:focus {
  border-color: #00b9f2;
}

.btn-warning {
  height: 35px;
  background-color: #f7941d;
  color: white;
}

.full-width {
  width: 100%;
}

.load-more {
  text-align: center;
}

.btn-load-more:hover {
  background-color: #fa03bb;
  color: WHITE;
  border-color: #fa03bb;
}

.empty-cart {
  padding: 20px;
  text-align: center;
}

.no-padding-right {
  padding-right: 0px;
}

@media(max-width:992px){
  .no-padding-right {
    padding-left: 0px !important;
  }
}

.table > thead > tr > th {
  border-bottom: none;
}

// footer
@media(max-width:992px){
  .footer-bottom-cate {
    float: left;
    width: 50%;
  }
  .address {
    clear: both;
  }
}

@media(max-width:700px){
  .address, .facebook {
    width: 100%;
    margin-top: 10px;
  }
}

// breadcrumb
.breadcrumb {
  padding: 10px 0px 0px 0px;
  background-color: transparent;
  font-size: 13px;
}
