@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.error-explanation {
  padding-left: 35px;
  .close {
    color: white;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
    font-weight: normal;
  }
}

.head-title {
  font-size: 1.5em;
  padding: 20px 0px 10px 0px;
}

.products {
  background-color: WHITE;
  margin: 10px;
  text-align: center;
  padding: 10px;
  line-height: 1.7;
  color: BLACK;
  .image {
    display: inline-block;
    height: 180px;
  }
  .product-content {
    font-size: 1em;
    .type {
      font-size: 0.8em;
    }
    .price {
      .discount-price {
        color: RED;
      }
      .discount {
        position: relative;
        top: -3px;
      }
    }
    .net-price {
      text-decoration: line-through;
      font-size: 0.8em;
    }
    .add-to-cart, .btn-add-to-cart {
      padding: 2px 6px;
      border-radius: 2px;
      background-color: #fa03bb;
      color: WHITE;
    }
  }
}

a:hover {
  text-decoration: none;
}

.hr {
  padding-top: 5px;
  text-align: center;
  hr {
    margin-bottom: 10px;
  }

  span {
    position: relative;
    top: -21px;
    background-color: white;
    padding: 1px 14px;
  }
}

.btn {
  border-radius: 0px;
}

.form-control {
  font-size: 13px;
  border-radius: 0px;
  border: 1px solid #ddd;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-box-shadow: none !important;
}

.form-control:focus {
  border-color: #00b9f2;
}

.btn-warning {
  height: 35px;
  background-color: #f7941d;
  color: white;
}

.full-width {
  width: 100%;
}
