#product-cart, #product-order {
  margin-bottom: 10px;
  .check-out {
    background-color: WHITE;
  }
  .tbl-cart {
    font-size: 1em;
    line-height: 2;
    .item {
      width: 20%;
    }
    .name {
      width: 45%;
    }
    .price {
      width: 20%;
    }
    .quantity {
      width: 10%;
    }
    .action {
      width: 5%;
    }
    .type {
      font-size: 0.8em;
    }

    .old-price {
      text-decoration: line-through;
      color: #777777;
      font-size: 0.8em;
    }
    .discount {
      color: #777777;
      font-size: 0.8em;
    }
  }
  .br {
    margin: 8px 0px;
  }

  .no-padding-right {
    padding-right: 0px;
  }

  @media(max-width:992px){
    .no-padding-right {
      padding-left: 0px !important;
    }
  }

  .order {
    background-color: WHITE;
    padding: 10px;
    .order-title {
      font-weight: bold;
    }
    .order-price {
      font-weight: bold;
      .total {
        float: right;
      }
    }
    .btn-login {
      text-align: center;
    }

    .dl-horizontal {
      font-size: 14px;
      margin-top: 10px;
      dt {
        text-align: left;
        font-weight: normal;
      }
    }
  }

  .success-info {
    background-color: WHITE;
    padding-top: 20px;
    margin-bottom: 10px;
    .icon {
      color: #00bd5b;
    }
    .text {
      margin-top: 40px;
    }
  }
}
