html,body{
	background: #F6F8F8;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  color: #545351;
  height: 100%;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
  margin:0;
}
/*----*/
.logo-icon span {
  color: #fa03bb;
}

/* start menu */
.navbar-default {
  background-color: white !important;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 300;
}
.navbar-default .navbar-nav > li {
  padding: 5px 0px;
}
.navbar-nav {
  margin:0 auto;
}
.navbar-toggle {
  margin-top: 8px;
  margin-bottom: 0px;
  border: none !important;
  float: left;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
}
.navbar-collapse.in {
  // overflow: hidden;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
  background-color: #fa03bb !important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus{
  background-color:#fff !important;
  border-color:#fff;
  color:#7e7e7e !important;
  outline: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fa03bb;
  background: none;
}
.navbar-default .navbar-brand {
  font-weight: bold;
  padding: 8px;
  height: 60px;
}

// navbar breakpoint
@media (max-width: 1100px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-nav {
        float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    padding: 0px !important;
    float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

.avatar-dropdown {
  padding: 10px !important;
}

.cart, .search {
  height: 50px;
}

.number-cart {
  margin-top: -23px;
  margin-left: -6px;
  background-color: #fa03bb;
}

/*--banner--*/
.up-t {
  padding: 8.2em 0 0;
}
.col-md3 h3 {
  color: #fff;
  font-size: 4em;
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  background: rgba(250, 3, 187, 0.5);
  padding: 0.3em;
}
.tes {
  position: absolute;
  top: 11em;
  left: 20em;
}
.tes h2 {
  font-size: 4em;
	margin:0;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.tes p {
  font-size: 2em;
  margin: 0.5em;
	text-align:right;
}
.tes h3 {
  font-size: 2em;
  margin: 0.5em;
	/*-- agileits --*/
	text-align:right;
}
.tes h4 {
  font-size: 4em;
  margin: 1em 0 0;
	text-align:center;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
/*--header--*/
.logo-icon {
  padding: 0 0em 0 2.5em;
}
.logo-icon h1 a {
  color: #403b37;
  font-size: 1em;
  text-decoration: none;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}

.total {
  display: inline-block;
}
/*--- slider-css --*/
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  /*-- agileits --*/
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 0px;
	width: 0px;
	display: inline-block;
	background:#403b37;
	border-radius:50px;
}
.callbacks_here a:after{
	background:#fa03bb;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	left: 45%;
}
.banner-mat{
	padding:0;
}
.glyphicon {
    line-height: normal;
}

/*--footer--*/
.top-footer iframe{
	width: 100%;
	min-height:300px;
	border: none;
}
.top-footer1 h3 {
  font-size: 2em;
  color: #fa03bb;
  margin: 0 0 0.5em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.top-footer h3 {
  font-size: 2em;
  color: #fa03bb;
  margin: 0 0 0.5em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.top-footer1 input[type="text"] {
  width: 65%;
  padding: 0.6em;
  outline: none;
  color: #BDBDBD;
  font-size: 1em;
  background: none;
  border: 1px solid #BDBDBD;
}
.top-footer1 input[type="submit"] {
  font-size: 0.9em;
  color: #fff;
  background-color:#403b37;
  border: none;
  padding: 0.8em 0em;
  width: 30%;
  vertical-align: top;
  outline: none;
}
.top-footer1 input[type="submit"]:hover {
  background-color:#fa03bb;
}
.footer {
  border-top: 1px solid #BDBDBD;
}
.footer-top {
  padding: 3em 0 ;
}
.footer-bottom-cate h6 {
  font-size: 22px;
  color: #fa03bb;
  margin: 0 0 1em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.footer-bottom-cate ul{
	padding: 0;
	margin: 0;
}
.footer-bottom-cate ul li{
  font-size: 14px;
  color: #B2B2B2;
	list-style: none;
	padding: 0.2em 0;
}
.footer-bottom-cate ul li a {
	text-decoration:none;
	color: #B2B2B2;
}
.footer-bottom-cate ul li a:hover{
	color:#ffffff;
	padding-left: 5px;
}
.cate-bottom ul li.phone {
	color:#fa03bb;
	padding: 1em 0 0em;
}
p.footer-class {
  font-size: 1em;
  color:  #B2B2B2;
  margin: 2em 0 0;
  text-align:center;
}
p.footer-class a{
  text-decoration:none;
  color: #fa03bb;
}
p.footer-class a:hover{
  color:  #B2B2B2;
}
.footer-bottom {
    padding: 1em 0;
    background:#252323;
}
/*--//footer--*/
.footer-bottom-cate.cate-bottom ul li i {
  border: 1px solid #999;
  padding: .5em;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  margin-right: 1em;
}
/*--register--*/
ul.social li i {
  display: inline-block;
  background: url(asset_path("img-sprite.png")) no-repeat -8px -64px;
  width: 47px;
  height: 47px;
  margin: 0 5px 0 0;
}
ul.social li i:hover {
  background-position: -8px -8px;
}
ul.social li i.facebook {
  background-position: -64px -64px;
}
ul.social li i.facebook:hover {
  background-position: -64px -8px;
}
ul.social li i.linked {
  background-position: -121px -64px;
}
ul.social li i.linked:hover {
  background-position: -121px -8px;
}
ul.social li i.google {
  background-position: -176px -64px;
}
ul.social li i.google:hover {
  background-position: -176px -8px;
}
ul.social li {
  display: inline-block;
}
ul.social {
  padding:0;
}

/*--responsive--*/
@media(max-width:1366px){
  .tes {
    top: 9em;
    left: 13em;
  }
}
@media(max-width:1280px){
  .tes {
    top: 8em;
    left: 10em;
  }
}
@media(max-width:1024px){
  .content-top h1 {
    font-size: 2.5em;
    margin: 0 0 0.3em;
  }
  .content-top {
    padding: 3em 0;
  }
  .top-footer1 input[type="submit"] {
    width: 33%;
  }
  .banner-mat img {
    height: 256px;
    width: 100%;
  }
  .footer-bottom {
    padding: 3em 0;
  }
  ul.nav_1 li {
    margin-right: 42px;
  }
  .tes h2 {
    font-size: 3em;
  }
  .tes h3 {
    font-size: 1.5em;
  }
  .tes h4 {
    font-size: 3em;
  }
  .tes p {
    font-size: 1.5em;
  }
  .tes {
    top: 7em;
    left: 8em;
  }
  .price a {
    width: 50%;
  }
  .col-md3 {
    min-height: 394px;
  }
  .top-footer h3 {
    font-size: 1.8em;
  }
  .top-footer1 h3 {
    font-size: 1.8em;
  }
}
@media(max-width:991px){
  .number span {
    font-size: 0.82em;
    margin-top: 0.5em;
  }
  ul.nav_1 li {
    margin-right: 9px;
  }
  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }
  .logo-icon {
    padding: 0 0em 0 0em;
  }
  .banner-mat img {
    height: 186px;
  }
  .content-top1 {
    padding: 0em 0;
  }
  .content-top h1 {
    margin: 0 0 1em;
  }
  .content-top {
    padding: 3em 0 1em;
  }
  .top-footer1 {
    margin: 2em 0 0;
  }
  .top-footer1 input[type="text"] {
    width: 70%;
  }
  .top-footer1 input[type="submit"] {
    width: 28%;
  }
  .world ,.logo-icon,.header-left{
    width: 33.33%;
    float: left;
  }
  .h_menu4 {
    float: left;
    width: 66.66%;
  }
  .number {
    margin-top: 0%;
    padding: 0;
  }
  .col-md2 {
    float: left;
    width: 25%;
  }
  .col-md3 {
  	float:left;
    width: 52%;
    margin: 0 0 2em;
  }
  .col-md3 {
    min-height: 313px;
  }
  .price a {
    width: 73%;
  }
  .tes {
    top: 2em;
    left: 5em;
  }
  .tes h2 {
    font-size: 2.3em;
  }
  .tes h3 {
    font-size: 1.2em;
  }
  .tes h4 {
    font-size: 2.3em;
  }
  .tes p {
    font-size: 1.2em;
  }
  .col-md1 h3 {
    font-size: 1em;
  }
  .price h5 {
    font-size: 1.1em;
  }
  .con-tp-lft {
    float: left;
    width: 33.33%;
  }
  .top-footer {
    float: left;
    width: 50%;
  }
  .top-footer1 {
    margin: 0em 0 0;
    float: left;
    width: 50%;
  }
  .top-footer h3 {
    font-size: 1.5em;
  }
  ul.social {
    padding: 0em 0 0;
  }
}
@media (max-width: 736px){
  p.log {
    width: 60%;
  }
  .number span {
    font-size: 0.75em;
  }
  .n-avigation {
    width: 100%;
    float: left;
  }

  .header-left {
    width: 14%;
    padding: 0;
  }
  ul.nav_1 li {
    display: block;
  }

  .nav-list > li {
    padding: 0px 15px 15px;
  }
  .price a {
    width: 76%;
  }
  .col-md3 {
    min-height: 297px;
  }

  .tes {
    padding: 1em;
  }
  .head-top {
    padding: 0;
  }
}
@media (max-width: 667px){
  p.log {
    font-size: 0.77em;
  }
  .info-content h4 {
    font-size: 25px;
  }
  .tes {
    padding: 0.5em;
  }
  .col-md3 h3 {
    font-size: 2em;
  }
}
@media(max-width:640px){
  .world {
    width: 35%;
    padding: 0;
  }
  select.in-drop, select.in-drop1 {
    font-size: 0.8em;
  }
  .box_1 h3 {
    font-size: 0.85em;
  }
  .header-left {
    width: 14%;
    padding: 0;
  }
  .logo-icon {
    width: 38%;
  }
  .logo-icon img{
    width: 80%;
    margin: 0 auto;
  }
  .number {
    padding: 0;
    width: 20%;
  }
  .h_menu4 {
    width: 63%;
  }
  .banner-mat img {
    height: 152px;
  }
  .content-top h1 {
    font-size: 2em;
  }
  .tes h2 {
    font-size: 2em;
  }
  .tes h4 {
    font-size: 2em;
  }
  .price a {
    width: 80%;
  }
  .col-md3 {
    min-height: 270px;
  	margin:0 0 1em;
  }
  .top-footer1 h3 {
    font-size: 1.5em;
  }
  .top-footer {
    width: 45%;
  }
  .top-footer1 {
    width: 55%;
  }
  .top-footer1 input[type="submit"] {
    width: 30%;
  }
  .top-footer1 input[type="text"] {
    width: 68%;
  }
  .footer-bottom {
    padding: 3em 0 1em;
  }
}
@media (max-width: 600px){
  select.in-drop, select.in-drop1 {
    font-size: 0.7em;
  }
}
@media (max-width:568px){
  .world {
    width: 28%;
    padding: 0;
    text-align: left;
  }
  .number {
    width: 36%;
    text-align: center;
  }
  .head-top {
    padding: 0em 0 0;
  }
  .header-left {
    width: 15%;
    padding: 0;
  }
  .header {
    padding: 0em 0 0;
  }
  .header-top {
    padding: 10px 0;
  }
  .logo-icon {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media(max-width:480px){
  .matter-banner,.banner-mat {
    width: 100%;
    padding: 0;
  }
  .banner-mat img {
    display: none;
  }
  .logo-icon {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .logo-icon img {
    width: 29%;
  }
  .h_menu4 {
    width: 67%;
  }
  .number {
    width:40%;
  }
  .content-top {
    padding: 2em 0 1em;
  }
  .price h5 {
    font-size: 1em;
    margin-top: 6px;
  }
  .footer-top {
    padding: 2em 0;
  }
  .top-footer iframe {
    min-height: 150px;
  }
  .top-footer1 {
    margin: 1em 0 0;
  }
  .top-footer1 h3 {
    font-size: 1.5em;
  }
  .top-footer1 input[type="text"] {
    width: 70%;
  }
  .top-footer1 input[type="submit"] {
    width: 28%;
  }
  .footer-bottom {
    padding: 2em 0 1em;
  }
  .tes h2 {
    font-size: 1.7em;
  }
  .tes h3 {
    font-size: 1em;
  }
  .tes h4 {
    font-size: 1.7em;
  }
  .tes p {
    font-size: 1em;
  }
  .tes {
    top: 1em;
    left: 1em;
  }
  .col-md2 {
    float: left;
    width: 50%;
  }
  .col-md3 {
    display: none;
  }
  .col-md1 {
    padding: 0.5em;
    margin: 0 0 15px;
  }
  .top-footer {
    width: 100%;
    text-align: center;
  }
  .top-footer1 {
    width: 100%;
    text-align: center;
  	margin:1.5em 0 0;
  }
}
@media (max-width:414px){
  .h_menu4 {
    width: 60%;
  }
  .number {
    width: 40%;
  }
  .world {
    width: 30%;
    text-align: left;
  }

  .header-left {
    width: 24%;
    padding: 0;
  }
  .tes h4 {
    margin: 0.5em 0 0;
  }
  ul.callbacks_tabs.callbacks1_tabs {
    left: 50%;
  }
  .con-tp-lft {
    float: left;
    width: 100%;
  	margin-bottom:0.8em;
  }
  .navbar {
    min-height: 40px;
  }
}
@media(max-width:320px){
  .logo-icon {
    width: 100%;
  }
  .logo-icon h1 a {
    font-size: 0.85em;
  }
  .world h6 {
    font-size: 0.9em;
  }
  .world p {
    font-size: 0.9em;
  }
  .world {
    width: 33%;
    padding: 0;
  	text-align:left;
  }
  .logo-icon img {
    width: 46%;
  }
  .number p {
    color: #403b37;
    font-size: 0.85em;
  }
  .number {
    width: 40%;
  }
  .logo-icon {
    width: 100%;
    text-align: center;
  }
  .box_1 h3 {
    font-size: 0.8em;
  }
  p.log {
    margin-top: 7%;
    font-size: 0.9em;
  }
  .number span {
    font-size: 0.8em;
  }
  .header-left {
    width: 30%;
    padding: 0;
  }
  .tes h2 {
    font-size: 1.3em;
  }
  .tes h3 {
    font-size: 0.85em;
  }
  .tes h4 {
    font-size: 1.3em;
  	margin: 0.5em 0 0;
  }
  .tes p {
    font-size: 0.85em;
  }
  .tes {
    top: 1em;
    left: 0.5em;
  }
  .h_menu4 {
    width: 62%;
  }
  .number {
    margin-top: 0%;
  }
  .head-top {
    padding: 0;
  }
  .content-top h1 {
    font-size: 1.5em;
    margin: 0 0 0.7em;
  }
  .content-top {
    padding: 1.5em 0 0.5em;
  }
  .col-md2 {
    padding: 0 5px;
    margin-bottom: 1em;
  }
  .col-md1 h3 {
    font-size: 1.1em;
  }
  .price a {
    font-size: 0.7em;
    display: inline-block;
    float: none;
    padding: 0.3em 0.6em;
  }
  .col-md1 {
    padding: 0.3em;
  }
  .price h5 {
    font-size: 1em;
    margin: 0.4em 0;
    float: none;
  }
  .price {
    text-align: center;
  }
  .footer-top {
    padding: 1.5em 0;
  }
  .top-footer {
    padding: 0;
  }
  .top-footer1 {
    padding: 0;
  }
  .top-footer1 h3 {
    font-size: 1.3em;
  }
  .top-footer1 input[type="text"] {
    width: 65%;
    padding: 0.4em;
  }
  .top-footer1 input[type="submit"] {
    font-size: 0.85em;
    padding: 0.6em 0em;
    width: 33%;
  }
  .footer-bottom-cate {
    padding: 0;
  }
  p.footer-class {
    font-size: 0.9em;
    margin: 0em 0 1em;
    line-height: 1.5em;
  }
  ul.callbacks_tabs.callbacks1_tabs {
    left: 47%;
  	bottom:1px;
  }
  .callbacks_tabs a:after {
    height: 0px;
    width: 0px;
  }
  .col-md1 h3 {
    font-size: 1em;
  }
  .c-btm {
    padding: 4em 0 0;
  }
}
