<%= link_to promotion, "data-no-turbolink": true do %>
  <div class="media">
    <div class="media-left">
      <%= media_image "bachi.jpg" %>
    </div>
    <div class="media-body">
      <div title="<%= promotion.title %>"><%= promotion.title %></div>
    </div>
  </div>
<% end %>
<hr>
