<%= link_to promotion, "data-no-turbolink": true do %>
  <div class="media">
    <div class="media-left">
      <%= image_tag promotion.picture_url, width: Settings.image.size80,
        class: "media-object" %>
    </div>
    <div class="media-body">
      <div title="<%= promotion.title %>"><%= promotion.title %></div>
    </div>
  </div>
<% end %>
<hr>
