<div id="small-dialog" class="mfp-hide">
  <div class="search-top">
    <div class="login">
      <form action="#" method="post">
        <input type="submit" value="">
        <input type="text" name="search" value="Type something..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
      </form>
    </div>
    <p> Shopping</p>
  </div>
</div>
